$background-colour: #090d38;
$input-colour: #232247;
$header-colour: #ffffff;
$sub-colour: #ffffffb0;

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px 10px;
  background-image: linear-gradient(to bottom left, $background-colour, #04040f);
}

.hide {
  display: none;
}

.main_header {
  font-size: 1.2rem;
  color: $header-colour;
  margin: 10px 0px 0px 0px;
  font-weight: 400;
}

.sub_text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: $sub-colour;
  margin: 20px 5px 30px 5px;
}

.weather_input_search {
  background-color: $input-colour;
  max-width: 90%;
  height: 20px;
  border: none;
  border-radius: 25px;
  font-size: 2.5rem;
  padding: 5px 10px;
}

.input_section button {
  border: none;
  background-color: $input-colour;
  color: $sub-colour;
  margin-right: 0px;
  padding: 10px 15px;
}

.search_inputbox {
  border: none;
  background-color: $input-colour;
  color: $sub-colour;
  margin: 0px 15px 0px -5px;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.input_section {
  display: flex;
}

.search_button {
  border-radius: 10px 0px 0px 10px;
}

.location_button {
  border-radius: 10px;
  padding: 10px 20px;
}

.results_seaction {
  width: 100%;
  padding: 0px;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas:
    'city_1 city_2'
    'city_3 city_4';
  justify-items: stretch;
  padding: 0px;
  margin-top: 40px;
}

.container li {
  position: relative;
  border-radius: 15px;
  color: $sub-colour;
  background-color: $input-colour;
  text-align: left;
  padding: 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container li:nth-child(1) {
  margin-bottom: 10px;
  background-color: #3c84dc;

  grid-area: city_1;
}

.container li:nth-child(2) {
  margin-top: 10px;
  grid-area: city_2;
}

.container li:nth-child(3) {
  margin-bottom: 10px;
  grid-area: city_3;
}

.container li:nth-child(4) {
  margin-top: 10px;
  grid-area: city_4;
}

.city_temp {
  font-weight: 400;
  margin: 10px 0px 0px 0px;
  font-size: 25px;
}

.city_weather {
  margin: 5px 0px;
  font-size: 10px;
}

.city_name {
  font-weight: 400;
  margin-bottom: 10px;
}

.weather__icon {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 60px;
}
